<!DOCTYPE html>
<html>
  <head>
    <title> Log in </title>
  </head>

  <body>
    <h1> Log in </h1>

    <!-- POST method used here to hide query parameters/values -->
    <form action="auth.html" method="POST">
      
      <p> E-mail: </p>
      <input type="email" name="email">
      
      <p> Password: </p>
      <input type="password" name="pass"> <br>
      
      <input type="submit" name="submit" value="Log in">
      
    </form>

    <br>
    <button onclick="window.location.href='index.html'"> Back </button>
      
  </body>

</html>
